
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-label {
    margin-left: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Add media query for responsiveness */
  /* @media (max-width: 600px) {
    div {
      margin: 10px;
    }
  } */